benchmark:
  - task: RTLRepo
    path_dataset_test: /chips-design/bigcode/datasets/RTL-Repo
    rtlrepo_use_train_ds: False
    path_model: /chips-design/models/
    metric_output_path: /chips-design/bigcode/results/rtlrepo/
    singularity_image: /chips-design/bigcode/containers/inference_images/vllm-openai-0.10.2.sif
    models:
      - name: Qwen2.5-Coder-7B
        slurm_config: general-single-node-small
        max_length_generation: 8192
        max_tokens: 50
        temperature: [0.2]
        n_samples: 5
        continuous_batching_size: 64
        precision: fp16
        save_generations: True
        save_metrics: True
        save_references: False
        trust_remote_code: True
